.avatar {
    display: flex;
    border-radius: 100px;
    position: relative;
}

.avatar--large {
    width: 125px;
    height: 125px;
}

.avatar--medium {
    width: 70px;
    height: 70px;
}

.avatar--small {
    width: 55px;
    height: 55px;
}

.avatar--connected::after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 19px;
    height: 19px;
    border-radius: 100px;
    background: #008000;
    z-index: 2;
}

.avatar--large::after {
    width: 28px;
    height: 28px;
}